<template>
	<header class="site-header text-white bg-suitmedia">
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c hidden--medium" data-col="s2" @click="handleSidebar">
				<button class="btn btn--black80 btn--large btn--icon js-toggle-sidebar">
					<span class="icon">
						<font-awesome-icon :icon="['fas', 'fa-bars']" />
					</span>
				</button>
			</div>
			<div class="bzg_c header-content" data-col="s8,m10">
				<h3 class="mb-8 js-site-title font-fira">
					<a class="link-white" href=".">
						<img
							sizes="(max-width: 64em) 30px, 35px"
							src="../../assets/img/baze-flat-icon.png"
							alt=""
						/>
						Suitbaze
					</a>
				</h3>
			</div>
			<div class="bzg_c header-content header-link text-right" data-col="s2,m2">
				<a
					class="link-white js-site-title"
					href="https://github.com/suitmedia/generator-suit-baze"
					target="blank"
				>
					<img src="../../assets/img/github.png" alt="" srcset="" />
				</a>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'Header',
	methods: {
		handleSidebar() {
			this.$emit('handleSidebar')
		}
	}
}
</script>

<style lang="scss">
header {
	padding: 4px;
}
</style>
