// Flex helper
// ------------------------------------------------------------------------ //
.flex {
	display: flex;
}

.direction-row {
	flex-direction: row;
}

.justify-center {
	justify-content: center;
}

// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
}

// Typography helper
// ------------------------------------------------------------------------ //

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-ellipsis {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.text-caps {
	text-transform: uppercase;
}

.text-size14 {
	font-size: 14px;
}

.text-bold {
	font-weight: 800;
}

// Visual helper
// ------------------------------------------------------------------------ //

.clearfix:after,
.cf:after {
	display: table;
	clear: both;
	content: '';
}

.hidden {
	display: none !important;
}

.visuallyhidden,
.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

.invisible {
	visibility: hidden;
}

.hidden--small {
	@media #{$small} {
		display: none;
		visibility: hidden;
	}
}

.hidden--medium {
	@media #{$medium} {
		display: none;
		visibility: hidden;
	}
}

.hidden--large {
	@media #{$large} {
		display: none;
		visibility: hidden;
	}
}

.full-width,
.\--full {
	width: 100%;
}

$gaps: 0, 2, 4, 8, 12, 16, 20, 24, 32, 36;

@each $gap in $gaps {
	.mb-#{$gap} {
		margin-bottom: $gap * 1px !important;
	}
	.mr-#{$gap} {
		margin-right: $gap * 1px !important;
	}
	.ml-#{$gap} {
		margin-left: $gap * 1px !important;
	}
	.mt-#{$gap} {
		margin-top: $gap * 1px !important;
	}
	.p-#{$gap} {
		padding: $gap * 1px !important;
	}
}

@each $state, $color in $palettes {
	.text-#{$state} {
		color: $color;
	}

	.bg-#{$state} {
		background-color: $color;
	}

	.link-#{$state} {
		color: $color;

		&:hover,
		&:focus {
			color: darken($color, 10%);
			@if $state == 'black' {
				color: $black70;
			}
		}
	}
}

@each $state, $color in $light-palettes {
	.text-#{$state} {
		color: $color;
	}

	.bg-#{$state} {
		background-color: $color;
	}

	.link-#{$state} {
		color: $color;

		&:hover,
		&:focus {
			color: darken($color, 10%);
		}
	}
}

@for $i from 0 through length($blacks)-1 {
	.text-black#{$i + 1}0 {
		color: nth($blacks, $i + 1);
	}

	.bg-black#{$i + 1}0 {
		background-color: nth($blacks, $i + 1);
	}

	.link-black#{$i + 1}0 {
		color: nth($blacks, $i + 1);

		&:hover,
		&:focus {
			color: $black;
		}
	}
}
