
// Typography
// ------------------------------------------------------------------------ //
$base_px_font_size  : 16;
$base_font_size     : $base_px_font_size * 1px;
$base_line_height   : 1.6;
$base_font_family   : -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
$space              : $base_line_height * 1em;



// Colors
// ------------------------------------------------------------------------ //

$palettes: (
    'suitmedia' : #ff6700,
	'primary': #0094ed,
    'secondary': #76848C,
    'warning' : #FFAE00,
    'danger' : #F0210B,
    'black': #000
);

$light-palettes: (
    'light-grey': #D3D3D3,
    'white': #FFF
);

@function palette($color) {
    @if map-has-key($palettes, $color) {
        @return map-get($palettes, $color);
    } @else if map-has-key($light-palettes, $color) {
        @return map-get($light-palettes, $color);
    } @else {
        @warn "key `#{$color}` was not found. Falling back to #000";
        @return #000;
    }
}

$black              : #000;
$black90            : lighten($black, 10%);
$black80            : lighten($black, 20%);
$black70            : lighten($black, 30%);
$black60            : lighten($black, 40%);
$black50            : lighten($black, 50%);
$black40            : lighten($black, 60%);
$black30            : lighten($black, 70%);
$black20            : lighten($black, 80%);
$black10            : lighten($black, 90%);

$blacks : $black10, $black20, $black30, $black40, $black50, $black60, $black70, $black80, $black90;

$link               : #0094ed;
$link_hover         : darken($link, 10%);

$selection_bg       : #b3d4fc;
$selection_color    : $black;

$shadow             : 0 2px 9px rgba($black, 0.2);

// Break Points
// ------------------------------------------------------------------------ //

$small              : "screen and (min-width: 28em)";
$small_portrait     : "screen and (min-width: 28em) and (orientation: portrait)";
$small_landscape    : "screen and (min-width: 28em) and (orientation: landscape)";

$medium             : "screen and (min-width: 48em)";
$medium_portrait    : "screen and (min-width: 48em) and (orientation: portrait)";
$medium_landscape   : "screen and (min-width: 48em) and (orientation: landscape)";

$large              : "screen and (min-width: 64em)";
$extra_large        : "screen and (min-width: 75em)";

$retina             : "(-webkit-min-device-pixel-ratio: 1.3),
                       (min-resolution: 1.25dppx),
                       (min-resolution: 120dpi)";

