/*! [PROJECT_NAME] | Suitmedia */

//	1. Font-face
//	2. Basic styles
//	3. Header
//	4. Page styles
//	5. Footer

@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'mixin/mixin';
@import 'modules/modules';
@import 'plugins/plugin';

// 1 Font-face
// ------------------------------------------------------------------------ //

.font-fira {
	font-family: 'Fira Mono', monospace;
}

// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
	font: 400 $base_font_size $base_font_family;
	line-height: $base_line_height;
}

body {
	text-decoration-skip: ink;
	color: $black70;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

button {
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		// max-width: 1280px;
	}
}

.main {
	padding-top: 70px;

	&.main--pushed {
		margin-left: 0;

		@media #{$medium} {
			margin-left: 215px;
		}
	}

	@media #{$large} {
		padding-top: 120px;
	}
}

// 3 Header
// ------------------------------------------------------------------------ //
.site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
	box-shadow: 0px 0px 10px $black80;

	.header-content {
		display: inline;
		padding: 8px 16px 0 8px;

		&.header-link {
			line-height: 2.4;
		}
	}

	@media #{$medium} {
		.header-content {
			padding: 5px 16px 3px 8px;
		}
	}
}

.content {
	width: 85%;
	float: right;
	margin-top: 15%;

	@media #{$medium} {
		margin-top: 5%;
	}
}

.footer {
	width: 85%;
	float: right;
	margin-bottom: 24px;
}

// 4 Page styles
// ------------------------------------------------------------------------ //
.position {
	@include objDimension(100%, auto);
	@include objPos(top, left);
	@include fontSize(69);
	position: relative;
	color: palette('light-grey');

	&:after {
		content: '';
		@include triangle(left, top, bottom, 12px, $black);
	}
}

// 5 Footer
// ------------------------------------------------------------------------ //

// 6 Banner Prompt
// ------------------------------------------------------------------------ //
.banner-install {
	position: fixed;
	z-index: 9999;
	top: 100%;
	left: 50%;
	background: #fff;
	border-radius: 8px;
	transform: translate(-50%, 0);
	transition: transform 0.4s ease;

	&.is-active {
		box-shadow: $shadow;
		transform: translate(-50%, -110%);
	}
}
