.alert {
	position: relative;
	padding: 8px 16px;
	border: 1px solid;
	margin: 15px 0;
	font-family: inherit;
	line-height: $base_line_height;
	vertical-align: middle;
	background-color: #f0f0f0;

	hr {
		border-color: inherit;
	}
}

.alert--popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	// display: none;
	width: 100%;
	height: 100%;
	padding-top: 15%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	overflow: auto;
}

.alert--popup-content {
	width: 80%;
	margin: auto;
}

.alert--close {
	float: right;

	&:hover {
		cursor: pointer;
	}
}

@mixin alertStyle($color, $shade: dark) {
	@extend .alert;

	@if $shade == dark {
		color: $color;
		background: lighten($color, 32%);
	} @else {
		color: darken($color, 20%);
		background: $color;
	}
}

@each $state, $color in $palettes {
	.alert--#{$state} {
		@include alertStyle($color);
	}
}

@each $state, $color in $light-palettes {
	.alert--#{$state} {
		@include alertStyle($color, light);
	}
}
