.btn {
	display: inline-block;
	padding: 8px 24px;
	margin: 5px;
	border: 1px solid;
	font-family: inherit;
	line-height: $base_line_height;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:focus {
		outline: none;
	}

	&[disabled],
	&.disabled {
		cursor: not-allowed;
		pointer-events: none;
	}
}

@mixin btnStyle($bg, $color: #fff, $shade: dark) {
	@extend .btn;
	color: $color;
	background: $bg;

	@if $shade == dark {
		border-color: $bg;
	} @else {
		border-color: darken($bg, 9%);
	}

	&:hover,
	&:focus {
		@if $shade == dark {
			color: $color;
			background: lighten($bg, 10%);
		} @else if $shade == light {
			color: $color;
			background: darken($bg, 9%);
		}
	}

	&[disabled],
	&.disabled {
		opacity: 0.6;
	}
}

@mixin btnGhost($color, $shade: dark) {
	@extend .btn;
	background: transparent;

	@if $shade == dark {
		border-color: $color;
		color: $color;
	} @else {
		border-color: darken($color, 9%);
		color: darken($color, 9%);
	}

	&:hover,
	&:focus {
		@if $shade == dark {
			color: #fff;
			background: $color;
		} @else if $shade == light {
			color: $black80;
			background: $color;
		}
	}

	&[disabled],
	&.disabled {
		opacity: 0.6;
	}
}

@mixin btnFlat($color, $shade: dark) {
	@extend .btn;
	border-color: transparent;
	background: transparent;

	@if $shade == dark {
		color: $color;
	} @else {
		color: darken($color, 9%);
	}

	&:hover,
	&:focus {
		color: $color;
		background: $black10;
	}

	&[disabled],
	&.disabled {
		opacity: 0.6;
	}
}

.btn--block {
	width: 100%;
}

.btn--small {
	padding: 4px 12px;
	font-size: 15px;

	&.btn--icon {
		width: 34px;
		height: 34px;
		padding: 0;
		font-size: $base_font_size;
	}
}

.btn--large {
	padding: 10px 28px;
	font-size: 20px;

	&.btn--icon {
		width: 54px;
		height: 54px;
		padding: 0;
		font-size: $base_font_size;
	}
}

.btn--icon {
	width: 44px;
	height: 44px;
	padding: 0;
	font-size: $base_font_size;
}

@each $state, $color in $palettes {
	.btn--#{$state} {
		@include btnStyle($color);
	}

	.btn--ghost-#{$state} {
		@include btnGhost($color);
	}

	.btn--flat-#{$state} {
		@include btnFlat($color);
	}
}

@each $state, $color in $light-palettes {
	.btn--#{$state} {
		@include btnStyle($color, $black80, light);
	}

	.btn--ghost-#{$state} {
		@include btnGhost($color, light);
	}

	.btn--flat-#{$state} {
		@include btnFlat($color, light);
	}
}

@for $i from 0 through length($blacks)-1 {
	.btn--black#{$i + 1}0 {
		@include btnStyle(nth($blacks, $i + 1));
	}
}
