
.index-page {
    position: relative;
    width: 100%;
    height: 100%;
    background: #555;

    .index-header {
        padding: 20px;

        @media #{$medium} {
            padding: 20px 50px;
        }
    }

    .index-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        color: white;
    }

    .index-footer {
        position: absolute;
        padding: 20px 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo {
        margin: 25px;
    }
}
