.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 215px;
	height: 100%;
	padding-top: 100px;
	background-color: #fff;
	overflow: hidden;
	border-right: 1px solid $black20;

	transition: transform 0.3s ease;
	transform: translateX(-100%);

	@media #{$medium} {
		padding-top: 60px;
	}

	.sidebar__link {
		display: block;
		padding: 8px 8px 8px 24px;

		&.is-active {
			font-weight: 600;
			background: $black10;
		}
	}

	.sidebar__button {
		position: relative;
		width: 100%;
		padding: 8px 8px 8px 24px;
		border: none;
		text-align: left;
		background: transparent;

		.fas {
			position: absolute;
			top: 50%;
			right: 16px;
			transform: translateY(-50%);
		}

		&.is-active {
			font-weight: 600;
		}
	}

	.sidebar__dropdown {
		li a {
			padding-left: 44px;
		}
	}

	&.is-active {
		transform: translateX(0);
	}

	@media #{$medium} {
		transition: none;
		display: none;
		box-shadow: 0px 0px 8px rgba($black, 0.15);
	}
}

.sidebar--overlay {
	position: fixed;
	top: 0;
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: auto;
}
