<template>
	<div id="app" class="sticky-footer-container">
		<div class="sticky-footer-container-item">
			<Header @handleSidebar="handleSidebar" />
			<Sidebar type="desktop" />
			<Sidebar :showSidebar="showSidebar" @handleSidebar="handleSidebar" />
		</div>
		<div class="content">
			<nuxt />
		</div>
		<div class="footer mb-24">
			<Footer />
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	data() {
		return {
			showSidebar: false
		}
	},
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	},
	methods: {
		handleSidebar() {
			this.showSidebar = !this.showSidebar
		}
	}
}
</script>
