<template>
	<main>
		<div class="container">
			<!-- Alert -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Alert</h2>
				<div v-for="color in colors" :key="color.id">
					<div :class="color.class">{{ color.name }}</div>
				</div>
			</div>
			<hr />

			<!-- Alert box-->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Alert Box</h2>
				<button
					class="btn--primary js-trigger-alert"
					@click="show.alert1 = !show.alert1"
				>
					Alert 1
				</button>
				<button
					class="btn--primary js-trigger-alert"
					@click="show.alert2 = !show.alert2"
				>
					Alert 2
				</button>
				<div v-if="show.alert1 === true" id="alert1" class="alert--popup">
					<div class="alert--primary alert--popup-content">
						<span class="icon alert--close">
							<font-awesome-icon
								:icon="['fas', 'fa-times']"
								@click="show.alert1 = !show.alert1"
							/>
						</span>
						<h4>Lorem Ipsum!</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<hr />
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
							qui obcaecati tempora. Quod, nesciunt culpa sunt sit itaque
							voluptate molestiae in quia quos quam tempora sequi illo
							molestias? Rerum, sit?
						</p>
					</div>
				</div>
				<div v-if="show.alert2 === true" id="alert2" class="alert--popup">
					<div class="alert--danger alert--popup-content">
						<span class="icon alert--close">
							<font-awesome-icon
								:icon="['fas', 'fa-times']"
								@click="show.alert2 = !show.alert2"
							/>
						</span>
						<h4>Number 2</h4>
						<p>Test Number 2</p>
					</div>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			colors: [
				{ id: 0, name: 'default', class: 'alert' },
				{ id: 1, name: 'primary', class: 'alert--primary' },
				{ id: 2, name: 'secondary', class: 'alert--secondary' },
				{ id: 3, name: 'warning', class: 'alert--warning' },
				{ id: 4, name: 'danger', class: 'alert--danger' },
				{ id: 5, name: 'black', class: 'alert--black' },
				{ id: 6, name: 'light-grey', class: 'alert--light-grey' },
				{ id: 7, name: 'white', class: 'alert--white' }
			],
			show: { alert1: false, alert2: false }
		}
	}
}
</script>

<style lang="scss" scoped></style>
