<template>
	<main>
		<div class="container">
			<!-- Text color -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Text Color</h2>
				<element v-for="text in texts" :key="text.id">
					<p :class="text.name">Text class color = ".{{ text.name }}"</p>
				</element>
			</div>
			<hr />

			<!-- Background color -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Background Color</h2>
				<element v-for="background in backgrounds" :key="background.id">
					<p :class="background.name">
						Background class color = ".{{ background.name }}"
					</p>
				</element>
			</div>
			<hr />

			<!-- Black tones -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Black Tones</h2>
				<element v-for="blackTone in blackTones" :key="blackTone.id">
					<p :class="'text-black' + blackTone.name">
						Black tone = ".text-black{{ blackTone.name }}" ($black{{
							blackTone.name
						}})
						<span :class="'bg-black' + blackTone.name">___</span>
					</p>
				</element>
			</div>
			<hr />

			<!-- Link color -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Link Color</h2>
				<p v-for="link in links" :key="link.id">
					Link color =
					<a :class="link.name" href="#">".{{ link.name }}"</a>
					<a href="#" v-if="link.id === 1">(Default link color)</a>
				</p>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			texts: [
				{ id: 1, name: 'text-primary' },
				{ id: 2, name: 'text-secondary' },
				{ id: 3, name: 'text-warning' },
				{ id: 4, name: 'text-danger' },
				{ id: 5, name: 'text-black' },
				{ id: 6, name: 'text-light-grey' }
			],
			backgrounds: [
				{ id: 1, name: 'bg-primary' },
				{ id: 2, name: 'bg-secondary' },
				{ id: 3, name: 'bg-warning' },
				{ id: 4, name: 'bg-danger' },
				{ id: 5, name: 'bg-black' },
				{ id: 6, name: 'bg-light-grey' },
				{ id: 7, name: 'bg-white' }
			],
			blackTones: [
				{ id: 1, name: '10' },
				{ id: 2, name: '20' },
				{ id: 3, name: '30' },
				{ id: 4, name: '40' },
				{ id: 5, name: '50' },
				{ id: 6, name: '60' },
				{ id: 7, name: '70' },
				{ id: 8, name: '80' },
				{ id: 9, name: '90' },
				{ id: 10, name: '' }
			],
			links: [
				{ id: 1, name: 'link-primary' },
				{ id: 2, name: 'link-secondary' },
				{ id: 3, name: 'link-warning' },
				{ id: 4, name: 'link-danger' },
				{ id: 5, name: 'link-black' },
				{ id: 6, name: 'link-light-grey' },
				{ id: 7, name: 'link-white' }
			]
		}
	}
}
</script>

<style lang="scss" scoped></style>
