<template>
	<main>
		<div class="container">
			<!-- Default Grid -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Default Grid</h2>
				<div class="bzg">
					<div class="bzg_c" data-col="m3">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m3
						</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m3
						</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m3
						</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m3
						</div>
					</div>
				</div>
				<div class="bzg">
					<div class="bzg_c" data-col="m4">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m4
						</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m4
						</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m4
						</div>
					</div>
				</div>
			</div>
			<hr />

			<!-- No-Gutter Grid -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">No-Gutter Grid</h2>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
					<div class="bzg_c" data-col="m1">
						<div class="text-center bg-primary text-white">bzg_c m1</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
					<div class="bzg_c" data-col="m2">
						<div class="text-center bg-primary text-white">bzg_c m2</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
					<div class="bzg_c" data-col="m3">
						<div class="text-center bg-primary text-white">bzg_c m3</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
					<div class="bzg_c" data-col="m4">
						<div class="text-center bg-primary text-white">bzg_c m4</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m6">
						<div class="text-center bg-primary text-white">bzg_c m6</div>
					</div>
					<div class="bzg_c" data-col="m6">
						<div class="text-center bg-primary text-white">bzg_c m6</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m7">
						<div class="text-center bg-primary text-white">bzg_c m7</div>
					</div>
					<div class="bzg_c" data-col="m5">
						<div class="text-center bg-primary text-white">bzg_c m5</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m12">
						<div class="text-center bg-primary text-white">bzg_c m12</div>
					</div>
				</div>
			</div>
			<hr />

			<!-- Grid with offset -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Grid with Offset</h2>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m2">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m2
						</div>
					</div>
					<div class="bzg_c" data-col="m5" data-offset="m5">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m5 offset=m5
						</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m3" data-offset="m3">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m3 offset=m3
						</div>
					</div>
					<div class="bzg_c" data-col="m3" data-offset="m3">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m3 offset=m3
						</div>
					</div>
				</div>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="m6" data-offset="m3">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c m6 offset=m3
						</div>
					</div>
				</div>
			</div>
			<hr />

			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Responsive Grid</h2>
				<div class="bzg bzg--no-gutter">
					<div class="bzg_c" data-col="s12,m9,l6">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c s12,m9,l6
						</div>
					</div>
					<div class="bzg_c" data-col="s6,m3,l6">
						<div
							class="text-center bg-primary text-white"
							style="border: 1px solid white"
						>
							bzg_c s6,m3,l6
						</div>
					</div>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.bzg_c {
	padding: 1px;
}
</style>
