<template>
	<main>
		<div class="container">
			<!-- Heading -->
			<div class="mb-24 mt-24">
				<h2 class="text-suitmedia font-fira">Heading</h2>
				<h1>Heading 1</h1>
				<h2>Heading 2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>
			</div>
			<hr />

			<!-- Heading styles -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Heading Style</h2>
				<p v-for="(heading, index) in headings" :class="heading" :key="index">
					Text size adjust {{ heading }}
				</p>

				<hr />
			</div>
		</div>
	</main>
</template>
<script>
export default {
	data() {
		return {
			headings: ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
		}
	}
}
</script>

<style lang="scss" scoped></style>
