<template>
	<main>
		<div class="container">
			<!-- Table -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Table</h2>
				<div class="table-wrapper">
					<table class="table">
						<thead>
							<tr>
								<th>Header 1</th>
								<th>Header 2</th>
								<th>Header 3</th>
								<th>Header 4</th>
								<th>Header 5</th>
								<th>Header 6</th>
								<th>Header 7</th>
								<th>Header 8</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Row 2 Col 1</td>
								<td>Row 2 Col 2</td>
								<td>Row 2 Col 3</td>
								<td>Row 2 Col 4</td>
								<td>Row 2 Col 5</td>
								<td>Row 2 Col 6</td>
								<td>Row 2 Col 7</td>
								<td>Row 2 Col 8</td>
							</tr>
							<tr>
								<td>Row 3 Col 1</td>
								<td>Row 3 Col 2</td>
								<td>Row 3 Col 3</td>
								<td>Row 3 Col 4</td>
								<td>Row 3 Col 5</td>
								<td>Row 3 Col 6</td>
								<td>Row 3 Col 7</td>
								<td>Row 3 Col 8</td>
							</tr>
							<tr>
								<td>Change</td>
								<td>Window</td>
								<td>size</td>
								<td>to see</td>
								<td>Table</td>
								<td>Wrapper</td>
								<td>in</td>
								<td>action!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr />

			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Data Table</h2>
				<div>
					<vue-good-table
						:columns="columns"
						:rows="rows"
						:pagination-options="{ enabled: true, mode: 'records' }"
						:search-options="{
							enabled: true,
							searchFn: searchFunc(),
							// trigger: 'enter',
							skipDiacritics: true,
							placeholder: 'Search this table',
							externalQuery: searchTerm
						}"
					/>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			columns: [
				{
					label: 'Name',
					field: 'name'
				},
				{
					label: 'Age',
					field: 'age',
					type: 'number'
				},
				{
					label: 'Created On',
					field: 'createdAt',
					type: 'date',
					dateInputFormat: 'yyyy-MM-dd',
					dateOutputFormat: 'MMM do yy'
				},
				{
					label: 'Percent',
					field: 'score',
					type: 'percentage'
				}
			],
			rows: [
				{ id: 1, name: 'John', age: 20, createdAt: '', score: 0.03343 },
				{
					id: 2,
					name: 'Jane',
					age: 24,
					createdAt: '2011-10-31',
					score: 0.03343
				},
				{
					id: 3,
					name: 'Susan',
					age: 16,
					createdAt: '2011-10-30',
					score: 0.03343
				},
				{
					id: 4,
					name: 'Chris',
					age: 55,
					createdAt: '2011-10-11',
					score: 0.03343
				},
				{
					id: 5,
					name: 'Dan',
					age: 40,
					createdAt: '2011-10-21',
					score: 0.03343
				},
				{
					id: 6,
					name: 'John',
					age: 20,
					createdAt: '2011-10-31',
					score: 0.03343
				},
				{ id: 1, name: 'John', age: 20, createdAt: '', score: 0.03343 },
				{
					id: 2,
					name: 'Jane',
					age: 24,
					createdAt: '2011-10-31',
					score: 0.03343
				},
				{
					id: 3,
					name: 'Susan',
					age: 16,
					createdAt: '2011-10-30',
					score: 0.03343
				},
				{
					id: 4,
					name: 'Chris',
					age: 55,
					createdAt: '2011-10-11',
					score: 0.03343
				},
				{
					id: 5,
					name: 'Dan',
					age: 40,
					createdAt: '2011-10-21',
					score: 0.03343
				},
				{
					id: 6,
					name: 'John',
					age: 20,
					createdAt: '2011-10-31',
					score: 0.03343
				},
				{ id: 1, name: 'John', age: 20, createdAt: '', score: 0.03343 },
				{
					id: 2,
					name: 'Jane',
					age: 24,
					createdAt: '2011-10-31',
					score: 0.03343
				},
				{
					id: 3,
					name: 'Susan',
					age: 16,
					createdAt: '2011-10-30',
					score: 0.03343
				},
				{
					id: 4,
					name: 'Chris',
					age: 55,
					createdAt: '2011-10-11',
					score: 0.03343
				},
				{
					id: 5,
					name: 'Dan',
					age: 40,
					createdAt: '2011-10-21',
					score: 0.03343
				},
				{
					id: 6,
					name: 'John',
					age: 20,
					createdAt: '2011-10-31',
					score: 0.03343
				},
				{ id: 1, name: 'John', age: 20, createdAt: '', score: 0.03343 },
				{
					id: 2,
					name: 'Jane',
					age: 24,
					createdAt: '2011-10-31',
					score: 0.03343
				},
				{
					id: 3,
					name: 'Susan',
					age: 16,
					createdAt: '2011-10-30',
					score: 0.03343
				},
				{
					id: 4,
					name: 'Chris',
					age: 55,
					createdAt: '2011-10-11',
					score: 0.03343
				},
				{
					id: 5,
					name: 'Dan',
					age: 40,
					createdAt: '2011-10-21',
					score: 0.03343
				},
				{
					id: 6,
					name: 'John',
					age: 20,
					createdAt: '2011-10-31',
					score: 0.03343
				}
			]
		}
	},
	methods: {
		searchFunc(row, col, cellValue, searchTerm) {
			return cellValue === searchTerm
		}
	}
}
</script>

<style lang="scss" scoped></style>
